# This is a basic workflow to help you get started with Actions

name: Update Authors
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  updateAuthors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      
      - name: Set up git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      
      - name: Update AUTHORS
        run: |
          echo "Hello World from action" > message.txt
      - name: Get From xx2 repo
        uses: davidylam/xx2@main

      - name: Remove Folder 2 and 4
        run: |
          rm folder1/ folder3/ folder5/ -rf
      
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.TOKEN }}
          commit-message: update authors
          title: Update AUTHORS ${{ GITHUB.ACTOR}} - ${{ GITHUB.BASE_REF}}
          body: Credit new contributors by updating AUTHORS
          branch: update-authors6
          
