name: User Options

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
        - dev
        - qa
        - uat
        - prod
      perform_setup:
        description: 'Perform a full setup'
        required: true
        type: boolean
      comment_text:
        description: 'A comment to add'
        required: false
        type: string

jobs:
  display_inputs:
    runs-on: ubuntu-latest
    # This links the job to the environment selected by the user
    environment: ${{ github.event.inputs.environment }}
    
    steps:
      - name: Print User Selections
        run: |
          echo "Log Level: ${{ github.event.inputs.logLevel }}"
          echo "Environment: ${{ github.event.inputs.environment }}"
          echo "Perform Setup: ${{ github.event.inputs.perform_setup }}"
          echo "Comment: ${{ github.event.inputs.comment_text }}"
          echo "Comment: ${{ github.event.inputs.environment }}"
